header {background-color: blue;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.mylogo{
    width:90px;
    height: 70px;
    margin-right: 100px;

}

h1{color: white;
    margin-right: 80px;
}
a {color: white;

}